<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<header>
    <center>

        <h1><strong>Welcome In Inventory Management Syastem</strong></h1>

    </center>

</header>
<main>
    <center>


            <form action="/item" method="post">
                <button>Insert_Item</button>

            </form><br>


                  <form action="/searchbyname" method="post">
                      <button>SearchByName</button>
                  </form><br>

                <form action="/searchbycategory" method="post">
                    <button>SearchByCategory</button></form><br>
         <form action="/delete" method="post">
                    <button>Delete</button></form><br>

        <form action="/update" method="post">
            <button>Update_Item</button>
        </form>


    </center>
</main>
</body>
</html>