<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SearchByCategory</title>
</head>
<body>
    <center>
        <header>
            <h1><strong>Search Your Item Here By It'S Category</strong></h1>
        </header>
<main>
<form action="/aftersearchbycategory" method="POST">

    <table>
        <tr>
            <td>Enter Item Category: <input type="text" name="itemcategory" id = item" placeholder="Item Category"></td>
        </tr>
        <tr>
                <td>
                    Select Time Zone :
                <select name="timezone">
                    <option>Asia/Dushanbe</option>
                    <option>Asia/Famagusta</option>


                    <option>Asia/Harbin</option>
                    <option>Asia/Hebron</option>
                    <option>Asia/Ho_Chi_Minh</option>
                    <option>Asia/Hong_Kong</option>
                </select>
                </td>
            </tr>


    </table>

    <br><br><br><button>SEARCH</button>
</form>

</main>


</center>

</body>
</html>