<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Item Search By Name</title>
</head>
<body>
<center>
        <header>
            <h1><strong>Search Your Item Here By It'S Name</strong></h1>
        </header>
<main>
<form action="/aftersearchbyname" method="POST">

    <table>
        <tr>
            <td>Enter Item Name: <input type="text" name="itemname" id = "item" placeholder="Item Name"></td>
        </tr>
        <tr>
            <td>Select Time Zone :
                <select name="timezone">
                    <option>Asia/Dushanbe</option>
                    <option>Asia/Famagusta</option>

                    <option>Indian/Cocos</option>
                        <option>Indian/Comoro</option>
                           <option>Indian/Kerguelen</option>
                           <option>Indian/Mahe</option>
                           <option>Indian/Maldives</option>
                       <option>Indian/Mauritius</option>
                </select>

            </td>
        </tr>
    </table>

    <br><br><br><button>SEARCH</button>
</form>

</main>


</center>



</body>
</html>