<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Item</title>
</head>
<body>
<header>
    <center>
        <h1><strong>Update Item Quantity</strong></h1>

    </center>

</header>
<main>
    <center>
    <form action="/afterupdate" method="post">
         <table>
                <tr>
                    <td>Enter Inventory Item Id :</td>
                    <td><input type="number" min="0" name="id"></td>
                </tr>
                <tr>
                    <td>Enter Inventory Quantity :</td>
                    <td><input type="number" name="quantity" min="0"></td>
                </tr>
                <tr>
                    <td></td>
                    <td><button>Submit</button></td>
                </tr>

            </table>

    </form>







             <form action="/">
                <br><br><button>Back</button>
            </form>


    </center>
</main>

</body>
</html>